.input {
  padding: $space-14;
  border-radius: 25px;
  border: 1px solid $color-black;
  font-size: $font-14;

  // Remove arrow from select
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:focus {
    border: 1px solid $color-dark-blue;
  }
}
