.button {
  margin: {
    top: $space-24;
    left: auto;
  }

  padding: $space-12 $space-16;
  display: flex;
  align-items: center;
  gap: $space-8;
  font-size: $font-14;
  font-weight: $font-semi-bold;
  border: 1px solid $color-dark-blue;
  border-radius: 25px;

  @media only screen and (min-width: $media-tablet) {
    padding: $space-14 $space-24;
    font-size: $font-16;
  }
}

.icon {
  width: 16px;
  stroke: $color-dark-blue;
}
