.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  padding: $space-24;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.body {
  flex: 1;
}
