.wrapper {
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $space-8;
  font-size: $font-14;
  font-weight: $font-semi-bold;
  color: $color-dark-blue;
  border-radius: 20px;
  flex-shrink: 0;

  &:last-child {
    margin-right: $space-24;
  }

  @media only screen and (min-width: $media-tablet) {
    width: 250px;
    height: 200px;
    font-size: $font-16;
    gap: $space-14;
  }
}

.image {
  width: 55px;
  height: 55px;

  @media only screen and (min-width: $media-tablet) {
    width: 70px;
    height: 70px;
  }
}

.english {
  background-color: #bf7e68;
}

.art {
  background-color: #ed5665;
}

.math {
  background-color: #ff6262;
}

.history {
  background-color: #91dafa;
}

.drama {
  background-color: #ffc839;
}

.biology {
  background-color: $color-light-blue;
}

.geography {
  background-color: #e08a68;
}

.socialstudies {
  background-color: #58efc7;
}

.chemistry {
  background-color: #f7d360;
}

.foreignlanguages {
  background-color: #abd641;
}

.graphicdesign {
  background-color: #ff4fb8;
}

.physics {
  background-color: #de856f;
}

.philosophy {
  background-color: #ff826e;
}

.literature {
  background-color: #6e9eff;
}

.it {
  background-color: #ffac5a;
}

.music {
  background-color: #e27c48;
}
