.textarea {
  padding: $space-14;
  min-height: 200px;
  border-radius: 25px;
  border: 1px solid $color-black;
  font-size: $font-14;
  resize:none;

  // Remove arrow from select
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:focus {
    border: 1px solid $color-dark-blue;
  }

  @media only screen and (min-width: $media-tablet) {
    font-size: $font-16;
  }
}
