.logo {
  font-family: $font-secondary, sans-serif;
  font-size: $font-20;

  @media only screen and (min-width: $media-tablet) {
    font-size: $font-40;
  }
}

.color-white {
  color: $color-white;
}

.color-black {
  color: $color-black;
}

.letter-light-blue {
  color: $color-light-blue;
}

.letter-purple {
  color: $color-purple;
}
