.logo {
  margin: {
    top: $space-24;
    left: $space-24;
  }
  width: max-content;
  font-family: $font-secondary, sans-serif;
  font-size: $font-20;

  @media only screen and (min-width: $media-tablet) {
    font-size: $font-40;
  }
}

.color-white {
  color: $color-white;
}

.color-black {
  color: $color-black;
}

.letter-light-blue {
  margin-left: 0;
  color: $color-light-blue;
}

.letter-purple {
  margin-left: 0;
  color: $color-purple;
}
