.logo {
  font-family: var(--font-secondary), sans-serif;
  font-size: var(--font-20);

  @media only screen and (min-width: 750px) {
    font-size: var(--font-40);
  }
}

.color-white {
  color: var(--color-white);
}

.color-black {
  color: var(--color-black);
}

.letter-light-blue {
  color: var(--color-light-blue);
}

.letter-purple {
  color: var(--color-purple);
}
