.wrapper {
  padding: 0.7rem 1rem;
  display: flex;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  color: $color-white;
  background-color: $color-dark-blue;
  border-radius: 5px;
}

.text {
  margin-right: 1rem;
  font-weight: $font-medium;
}

.closeButton {
  margin-left: auto;
  height: max-content;
}

.close {
  height: 1rem;
  flex-shrink: 0;
  color: white;
}
