.categories {
  padding: {
    top: $space-16;
    bottom: $space-16;
    left: $space-24;
  }
  display: flex;
  gap: $space-24;
  overflow-y: hidden;

  @media only screen and (min-width: $media-tablet) {
    gap: 60px;
  }
}
