.button {
  padding: $space-16;
  width: 100%;
  font-size: $font-14;
  font-weight: $font-semi-bold;
  color: $color-purple;
  border: 2px solid $color-light-blue;
  border-radius: 25px;

  @media only screen and (min-width: $media-tablet) {
    font-size: $font-16;
  }
}
