html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: $font-primary;
  margin: 0;
  padding: 0;
}

a,
button {
  font-family: $font-primary;
  padding: 0;
  color: $color-black;
  cursor: pointer;

  &:focus {
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }

  &:active {
    transform: scale(1.01);
    transition: all 0.3s;
  }
}

button {
  background-color: inherit;
  border: none;
}

a {
  text-decoration: none;

  &:focus {
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h5 {
  margin: 0;
}

p {
  margin: 0;
}

hr {
  margin: 0;
}

input,
textarea {
  font-family: $font-primary;
  color: $color-black;
}
