html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
}

a,
button {
  font-family: var(--font-primary);
  padding: 0;
  color: var(--color-black);
  cursor: pointer;
}

button {
  background-color: inherit;
  border: none;

  &:focus {
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }

  &:active {
    transform: scale(1.01);
  }
}

a {
  text-decoration: none;

  &:focus {
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h5 {
  margin: 0;
}

p {
  margin: 0;
}

hr {
  margin: 0;
}

input,
textarea {
  font-family: var(--font-primary);
  color: var(--color-black);
}
