.contentWrapper {
  margin-top: auto;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;
}

.title {
  margin: $space-32 0;
  text-align: center;
  font-size: $font-20;
  font-weight: $font-semi-bold;
  color: $color-white;

  @media only screen and (min-width: $media-tablet) {
    margin-bottom: $space-50;
    font-size: $font-40;
  }

  @media only screen and (min-width: $media-desktop) {
    font-size: $font-40;
  }
}

.image {
  display: none;

  @media only screen and (min-width: $media-tablet) {
    display: block;
    width: 400px;
    height: auto;
  }

  @media only screen and (min-width: $media-desktop) {
    width: 600px;
  }
}

.form {
  margin-top: $space-32;
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $space-24;

  @media only screen and (min-width: $media-tablet) {
    height: 100%;
  }
}

.formTitle {
  display: none;
  text-align: center;

  @media only screen and (min-width: $media-tablet) {
    display: block;
    font-size: $font-30;
    font-weight: $font-semi-bold;
  }

  @media only screen and (min-width: $media-desktop) {
    font-size: $font-40;
  }
}

.button {
  margin-top: $space-24;
}
