.image {
  margin-top: 80px;
  width: 300px;
  height: auto;
  align-self: center;

  @media only screen and (min-width: $media-tablet) {
    margin-top: auto;
    width: 400px;
  }

  @media only screen and (min-width: $media-desktop) {
    width: 600px;
  }
}

.body {
  width: 80%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $space-32;

  @media only screen and (min-width: $media-tablet) {
    height: 100%;
  }
}

.welcomeText {
  margin: $space-50 0;
  font-size: $font-20;
  font-weight: $font-semi-bold;
  text-align: center;
}

.purple {
  color: $color-purple;
}
